.ipynb_checkpoints/
.idea/*
examples/fear-pipeline/metrics/*
examples/fear-pipeline/data/vocab/*
examples/fear-pipeline/input-data/*
/notebooks/.ipynb_checkpoints/
/**/__pycache__/
/**/letterspace.pkl
.pytest_cache/
/.env/
examples/fear-pipeline/dist
/build
/tarkin.egg-info

